.container{
	height: 500px;
	width: 400px;
	border-style: inset;
}
.card-body{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.card{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.img-fluid{
	height: 100px;
	width: auto;
}